<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/95df239b59.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />

</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" class="logo">
            <div class="copy-header">
                <p> Compra en cuotas y sin tarjeta de creditos</p>
                <i class="fa-solid fa-hand-holding-dollar"></i>
            </div>
        </div>
        <a href="#" class="hamburguer-button">
        <i class="fa-solid fa-bars"></i>
        </a>
        <form>
            <div class="form-search">
              <input type="text" id="uname" placeholder="Bucar productos, marcas">
              <button type="submit"><i class="fa fa-search"></i></button>
            </div>
          </form>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href=""> Tiendas oficiales </a></li>
             </ul>

             <ul class="rigth-navbar">
                <li><a href="">Crea tu cuenta</a>
                    <i class="fa-regular fa-address-card"></i></li>
                <li><a href="">Ingresa</a>
                        <i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="">Mis compras</a>
                    <i class="fa-regular fa-basket-shopping-simple"></i></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>
            Basado en tu última visita
        </h2>
        <section class="section-last">
            <article>
                <picture>
                    <img 
                    src="/images/img-cafetera-moulinex.jpg" 
                    alt="Cafetera Mouliex">
                </picture>
                <div class="info">
                    <div class="truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="promocion">
                        <div class="precio">
                            <p>$6.770</p>
                        </div>
                        <div class="descuento">
                            <p>40% OFF</p>
                        </div>
                    </div>
                    <div class="descripcion">
                        <p>Cafetera Moulinex</p>
                    </div>
                </div>
            </article>

            <article>
                <picture>
                    <img 
                    src="/images/img-macbook-pro-2019.jpg" 
                    alt="macbook pro">
                </picture>
                <div class="info">
                    <div class="truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="promocion">
                        <div class="precio">
                            <p>$230.000</p>
                        </div>
                        <div class="descuento">
                            <p>20% OFF</p>
                        </div>
                    </div>
                    <div class="descripcion">
                        <p>Macbook pro 2019</p>
                    </div>
                </div>
            </article>

            <article>
                <picture>
                    <img 
                    src="/images/img-cafetera-moulinex.jpg" 
                    alt="Cafetera Mouliex">
                </picture>
                <div class="info">
                    <div class="truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="promocion">
                        <div class="precio">
                            <p>$6.770</p>
                        </div>
                        <div class="descuento">
                            <p>40% OFF</p>
                        </div>
                    </div>
                    <div class="descripcion">
                        <p>Cafetera Moulinex</p>
                    </div>
                </div>
            </article>

            <article>
                <picture>
                    <img 
                    src="/images/img-macbook-pro-2019.jpg" 
                    alt="macbook pro">
                </picture>
                <div class="info">
                    <div class="truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="promocion">
                        <div class="precio">
                            <p>$230.000</p>
                        </div>
                        <div class="descuento">
                            <p>20% OFF</p>
                        </div>
                    </div>
                    <div class="descripcion">
                        <p>Macbook pro 2019</p>
                    </div>
                </div>
            </article>

        </section>
            <h2>
                Sección de Ofertas
            </h2>
        <section class="section-ofertas">
            
            <article>
                <picture>
                    <img 
                    src="/images/img-cafetera-moulinex.jpg" 
                    alt="Cafetera Mouliex">
                </picture>
                <div class="info">
                    <div class="truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="promocion">
                        <div class="precio">
                            <p>$6.770</p>
                        </div>
                        <div class="descuento">
                            <p>40% OFF</p>
                        </div>
                    </div>
                    <div class="descripcion">
                        <p>Cafetera Moulinex</p>
                    </div>
                </div>
            </article>

            <article>
                <picture>
                    <img 
                    src="/images/img-macbook-pro-2019.jpg" 
                    alt="macbook pro">
                </picture>
                <div class="info">
                    <div class="truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="promocion">
                        <div class="precio">
                            <p>$230.000</p>
                        </div>
                        <div class="descuento">
                            <p>20% OFF</p>
                        </div>
                    </div>
                    <div class="descripcion">
                        <p>Macbook pro 2019</p>
                    </div>
                </div>
            </article>

            <article>
                <picture>
                    <img 
                    src="/images/img-cafetera-moulinex.jpg" 
                    alt="Cafetera Mouliex">
                </picture>
                <div class="info">
                    <div class="truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="promocion">
                        <div class="precio">
                            <p>$6.770</p>
                        </div>
                        <div class="descuento">
                            <p>40% OFF</p>
                        </div>
                    </div>
                    <div class="descripcion">
                        <p>Cafetera Moulinex</p>
                    </div>
                </div>
            </article>

            <article>
                <picture>
                    <img 
                    src="/images/img-macbook-pro-2019.jpg" 
                    alt="macbook pro">
                </picture>
                <div class="info">
                    <div class="truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="promocion">
                        <div class="precio">
                            <p>$230.000</p>
                        </div>
                        <div class="descuento">
                            <p>20% OFF</p>
                        </div>
                    </div>
                    <div class="descripcion">
                        <p>Macbook pro 2019</p>
                    </div>
                </div>
            </article>
        </section>
    </main>

    <footer>
        <section class="main-footer">
            <article class="medios-pago">
                <div class="tarjeta">
                    <i class="fa-sharp fa-solid fa-credit-card"></i>
                </div>
                <div>
                    <h3>
                        Pagá con tarjeta o en efectivo
                    </h3>
                </div>
                <div>
                    <p>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                    </p>
                </div> 
            </article>
            <article class="envios-gratis">
                <div>
                    <p>
                        Envío gratis desde $ 2.500
                    </p>
                </div>
                <div>
                    <p>
                        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.
                    </p>
                </div> 
            </article>
            <article class="seguridad">
                <div>
                    <p>
                        Seguridad, de principio a fin
                    </p>
                </div>
                <div>
                    <p>
                        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.
                    </p>
                </div> 
            </article>
       
                <div>
                    <p>
                        Copyright © 1999-2020 MercadoLiebre S.R.L.
                    </p>
                </div>
        </section>     
    </footer>

</body>
</html>